<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       ">
	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="timer://simpleTimer?period=1000" />
			<setBody>
				<simple>Hello from timer at ${header.firedTime}</simple>
			</setBody>
			<to uri="stream:out" />
		</route>
		<route>
			<from uri="queuemanager:queue:Signalement" />
			<log message="Routing message from inbox to outbox with data ${body}" />
			<setHeader headerName="Subject">
				<constant> New Reporting added</constant>
			</setHeader>
			<to
				uri="smtps://smtp.gmail.com?port=587&amp;username=rami.torkhani@gmail.com&amp;password=Pa$$w0rd12&amp;to=Rami.Torkhani@univ-lyon2.fr" />
		</route>
	</camelContext>

</beans>
